<nav class="navbar navbar-expand-lg navbar-light  custom-navbar">
    <a class="navbar-brand" href="#">
        🛒 Come Sano, Come Fresco Spa
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Productos</a>
            </li>
        </ul>
        <button type="button" class="btn btn-outline-primary my-2 my-sm-0" id="carritoButton" data-toggle="modal" data-target="#carritoModal">
            Carrito
        </button>
    </div>
</nav>
