<div class="col-md-4">
    <div class="card mb-4">
        <img src="/img/{{imagen}}" class="card-img-top" alt="{{nombre}}">
        <div class="card-body">
            <h5 class="card-title">{{nombre}}</h5>
            <button type="button" class="btn btn-primary btn-sm agregar-carrito" data-producto="{{nombre}}">Agregar al Carrito</button>
        </div>
    </div>
</div>
